.statistics {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: rgba(0, 1, 0, 0.35) 0px 5px 15px;
}

.title {
  text-align: center;
}

.stat_list {
  display: flex;
  justify-content: center;
  padding: 0;
}

.item {
 padding: 10px;
 width: 60px;
}

.label {
  display: block;
}