.item {
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.friend_list {
  padding: 0;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.friend_list > li {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 5px;
  padding: 5px;
}

.name {
  margin-left: 10px;
  font-style: bold;
}

.status_red {
  margin-right: 15px;
  width: 15px;
  border-radius: 50%;
  height: 15px;
  background-color: red;
}

.status_green {
  margin-right: 15px;
  width: 15px;
  border-radius: 50%;
  height: 15px;
  background-color: green;
}